<nav class="navbar navbar-inverse">
    <div class="container-fluid"></div>
    <div class="navbar-header">
        <div class="navbar-brand" href="/">Naija Scrapper</div>
    </div>
    <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/saved">Saved Articles</a></li>
        <li><a class="btn btn-danger scrape-new">SCRAPE NEW ARTICLES!</a></li>
    </ul>
</nav>