
<div class="jumbotron text-center">
    <div class="overlay">
    </div>
    <div class="background-image"></div>
    <div class="caption">
        <h1>Naija Scraper</h1>
        <p>New York Edition</p>
    </div>
</div>
<div class="container-fluid article-container">
</div>

